<ion-content>
<div class="heading">
  <h1>Welcome</h1>
  <p>Please login or signup to continue using our app</p>
</div>
<div class="image">
<img src="../../assets/images/home_banner.jpg" alt="welcome">
</div>
<div class="social-login">
  <p>Enter via Social Network</p>
  <div class="links">
    <ion-button class="twitter" routerLink="/continue">
      <ion-icon name="logo-twitter"></ion-icon>
    </ion-button>
    <ion-button class="facebook" routerLink="/continue">
      <ion-icon name="logo-facebook"></ion-icon>
    </ion-button>
  </div>
</div>
<div class="email-login">
  <p>Or login with email</p>
  <ion-button class="signup" routerLink="/login">Login</ion-button>
</div>
</ion-content>
